<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>armv7</key>
		<true/>
	</dict>
	<key>appleId</key>
	<string>c84t9f6@icloud.com</string>
	<key>artistId</key>
	<integer>1193362443</integer>
	<key>artistName</key>
	<string>Psiphon Inc</string>
	<key>bundleShortVersionString</key>
	<string>1.0.9</string>
	<key>bundleVersion</key>
	<string>33</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143441-1,32</string>
			<key>AppleID</key>
			<string>c84t9f6@icloud.com</string>
			<key>DSPersonID</key>
			<integer>11208334255</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>FirstName</key>
			<string>daqiang</string>
			<key>LastName</key>
			<string>cn</string>
			<key>PurchaserID</key>
			<integer>11208334255</integer>
			<key>UserName</key>
			<string>daqiang cn</string>
		</dict>
		<key>purchaseDate</key>
		<string>2017-11-22T13:25:50Z</string>
	</dict>
	<key>copyright</key>
	<string>© 2017 Psiphon Inc.</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>Utilities</string>
	<key>genreId</key>
	<integer>6002</integer>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>1276263909</integer>
	<key>itemName</key>
	<string>Psiphon</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>Psiphon Inc</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2017-11-22T13:25:50Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>Advisory.NO.GAMBLING_CONTESTS and Unrestricted Web Access</string>
		<key>label</key>
		<string>17+</string>
		<key>rank</key>
		<integer>600</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2017-09-22T20:44:05Z</string>
	<key>s</key>
	<integer>143441</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1327.phobos.apple.com/us/r30/Purple118/v4/7a/08/a3/7a08a3e5-e761-e8f2-8a93-b92362f9a0fd/CRV_AP_150x90.lsr</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>ca.psiphon.Psiphon</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>824392663</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>823466492</integer>
		<integer>823749649</integer>
		<integer>823779124</integer>
		<integer>823850875</integer>
		<integer>823968042</integer>
		<integer>824000617</integer>
		<integer>824015168</integer>
		<integer>824125373</integer>
		<integer>824301789</integer>
		<integer>824392663</integer>
	</array>
	<key>storeCohort</key>
	<string>7|date=1511355600000&amp;sf=143441&amp;pgtp=Search&amp;pgid=222cfa13-690d-424b-8486-5c1660d10fb2&amp;prpg=Search_4e9e132f-724a-4839-915e-98acd67d2d6a&amp;ctxt=Search&amp;issrch=1</string>
	<key>userName</key>
	<string>daqiang cn</string>
	<key>vendorId</key>
	<integer>117859657</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
