{% if site.adsense %}

<div class="side">
<div>
     <i class="iconfont  icon-guanggao2"></i>
     广告
</div>
{% if site.github %}
<!--cndaqiang.github.io注册的广告-->
<!-- 文章内嵌[通用] -->
<!--async脚本复制到head.html了-->
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-8365330523291002"
     data-ad-slot="7979503236"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% else %}
<!---静态广告-->
<a href="https://curl.qcloud.com/ph2YL72r" target=_blank><img src="/web/Adsense/tengxun.345x200.jpg" border=0></a>
{% endif %}

</div>
{% endif %}
