{% if site.adsense %}
<!-- 谷歌无收益,换成west-->
<div class="side">
     <div>
         <i class="iconfont  icon-guanggao2"></i>
         图片链接广告
     </div>
     <a href="https://curl.qcloud.com/ph2YL72r" target=_blank><img src="/web/Adsense/tengxun.345x200.jpg" border=0></a>

     <!--  -->
<div>
     <i class="iconfont  icon-guanggao2"></i>
     文章内嵌[在测]
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8365330523291002"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-8365330523291002"
     data-ad-slot="7979503236"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div>
     <i class="iconfont  icon-guanggao2"></i>
     展示方形300x250
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8365330523291002"
     crossorigin="anonymous"></script>
<!-- 展示方形300x250 -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-8365330523291002"
     data-ad-slot="5167520132"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

<div>
     <i class="iconfont  icon-guanggao2"></i>
     信息流方形300
</div>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8365330523291002"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-72+ed+2g-1n-4q"
     data-ad-client="ca-pub-8365330523291002"
     data-ad-slot="9099026281"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script

</div>
{% endif %}
