---
layout: default
---

<div class="page clearfix" post>
    <div class="left">
        {{content}}
        {%  if site.beian != true  %}
		<hr>
		<h2 id="comments">评论</h2>
        {% include comments.html %}
        {%  endif %}
    </div>
	
	
    <div class="right">         
        <div class="wrap">
			<div class="side">
                   <div>
                       <!--- <i class="fa fa-heart"></i> --->
                       About
                   </div>
				   <div>
		    		<img src="/favicon.jpg">
                    <p>爱吃零食，日益变肥</p>
                    <iframe src="/html_script/github-btn.html?user=cndaqiang&repo=cndaqiang.github.io&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
                    <iframe src="/html_script/github-btn.html?user=cndaqiang&type=follow&count=true&size=large" frameborder="0" scrolling="0" width="220px" height="30px"></iframe>            
				   </div>
				   
		    </div>
			<br>
         <!-- 其他div框放到这里 -->
			<div class="side">
					<div>
						<i class="fa fa-heart"></i>
                       Friends
					</div>
					<ul>
				       <li><a href="http://rbu.ink/">Ride Bu</a>                    </li>
				       <li><a href="https://blog.csdn.net/xinming_365">xinming</a>  </li>
                       <li><a href="https://leeyenxie.github.io/">lyfk</a>        </li>
                       <li><a href="https://gliderhx.github.io/">gliderhx</a>        </li>
                       <li><a href="https://www.opencas.org/">OpenCAS</a>        </li>
					</ul>
          </div>

         <!-- 其他div框放到这里 ，添加br 使不粘连--><br>
         {%  if site.beian != true  %}
            <div class="side">
               <div>
                   <i class="fa fa-database"></i>
                  访客数据
               </div>
               <script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=537vyn60ia7&amp;m=0&amp;c=007eff&amp;cr1=ff0000&amp;sx=0" async="async"></script>
            </div>
        {%  endif  %}

        <!-- adsens -->
        <!--广告 _includes/adsense_slide_xinxiliu.html -->
        {% include adsense_slide_xinxiliu.html %}
        <!-- <div class="side">bbbb</div> -->
		
			            

            <!-- Content -->
            
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
        </div>
    </div>
</div>
<script src="{{ "/js/pageContent.js " | prepend: site.baseurl }}" charset="utf-8"></script>
